        #menu {
            padding: 0px;
            margin: 0px;
            left: 0px;
            z-index: 1;
            position: fixed;
            top:0px;
            background: grey;
            height:40px;
            width:100%;
            font-size:18px;
            font-family: "Century Gothic";
        }
        .a_menu {
            padding: 5px;
            top:9px;
            margin: 10px;
            //background: #f5f2f2;
            color: #f5f2f2;
            text-decoration: none;
            position:relative;
            left:calc(50% - 300px);
        }
        #github_link{
            position: relative;
            width:10%;
            left:45%;
    }
    #whitelogo {
        position: fixed;
        width: 40px;
        top: 9px;
        left: 20px;
        z-index:2;
    }
    @media screen and (orientation:portrait) {
         #menu {
            height:auto;
            font-size:3vw;
            text-align: center;
            overflow: auto;
            padding:1vw;
        }
         .a_menu {
            padding: 1px;
            top:1px;
            margin: 1vw;
            left:3%;
            display:inline-block;
        }
         #whitelogo {
            display:none;
    }
    }
    @media screen and (max-width: 439px) {
         #menu {
            height:55px;
        }
    }